<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Search for books</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/static/css/book.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Search for books</h1>
  <label for="inputname" class="sr-only">book name</label>
  <input  id="inputname" class="form-control" placeholder="Book name" required autofocus>
  <br>
  <label for="inputTopic" class="sr-only">Topic</label>
  <input id="inputTopic" class="form-control" placeholder="Topic" required>
  <br>
  <label for="inputAuthor" class="sr-only">Author</label>
  <input id="inputAuthor" class="form-control" placeholder="Author" required>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
</form>


    
  </body>
</html>
