<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RTL">
    <title>Read Think and Learn</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/static/css/index.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>RTL</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Read Think and Learn</h1>
      <p class="lead text-muted">This is a public library and it serves the community by providing access to diversified resources, affordable rental services, free room reservations and various educational events..</p>
      <p>
        <a href="http://127.0.0.1:8000/signin" class="btn btn-primary my-2">sign in</a>
        <a href="#" class="btn btn-secondary my-2">Regist now</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <!-- choose different topic -->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Topic" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#24bba3"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Event</text></svg>

            <div class="card-body">
              <p class="card-text">RTL maintains a list of Topics such as history, children, science, arts, travel, adventures, drama, etc. Different types of events are held in the library hall on specific topics. RTL arranges an event with Event Name, Event Type, Start Datetime and Stop Datetime. Event Type can be either Seminar or Exhibition.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="http://127.0.0.1:8000/event">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <!-- book different kinds of books -->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Books" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#1dcceb"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Books</text></svg>
            <div class="card-body">
              <p class="card-text">RTL keeps inventory of a large number of books. Books are classified by topics such as history, children, science, arts, travel, adventures, drama, etc.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="http://127.0.0.1:8000/book">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">6 mins</small>
              </div>
            </div>
          </div>
        </div>
        
        <!-- book study rooms for groups -->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: study rooms for groups" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#8ba2ef"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">study rooms for groups</text></svg>

            <div class="card-body">
              <p class="card-text">RTL provides Study Rooms for groups. Each room has a specified Capacity (maximum number of people that can be present in a room at once). Customers are required to make Reservations with a Timeslot for a particular date.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="http://127.0.0.1:8000/room">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">3 mins</small>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
  
  </body>
</html>
